body {
  font-family: 'Raleway', sans-serif;
  color: rgba(255,255,255,0.8);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  top: 15%;
  background: linear-gradient(to right, #00ff00, #ff0000);
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  width: 100%;
}

h3 {
  font-size: 1rem;
  font-weight: 900;
  text-transform: none;
  letter-spacing: 0.01em;
}